*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url('images/Background.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#head{
    position: absolute;
    top: 0px;
    font-family: 'Poppins', sans-serif;
}
#myCarousel{
    margin: 50px auto;
    height: 200px;
    width: 100%;
    border-radius: 5px;
    /* border: 1px solid grey; */
    box-shadow: 4px 4px 5px rgba(0,0,0,.4);
    overflow: hidden;
}
.item{
    width: 100%;
}
img{
    object-fit: fill;
}
.content{
    margin-top: -20px;
}
h3{
    color: rgb(41, 40, 40);
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p{
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}
#details{
    font-weight: 600;
    margin-left: 0;
}
.container{
    position: relative;
    width: 95%;
    height: max-content ;
    margin: 20px 0;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,.7);
    background-color: rgb(255, 255, 255);
}
/* .black{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: rgba(0,0,0,.7);
} */


.line{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-top: 1px solid rgb(180, 178, 178); 
}
form{
    margin-top: 20px;
    padding: 0 30px;
}
label{
    font-size: 15px;
    color: #353434;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="text"],input[type="email"],input[type="number"]{
    width: 100%;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
}
input[type="text"]:focus, input[type="email"]:focus,input[type="number"]:focus{
    outline: none;
    border-bottom: 2px solid rgb(108, 4, 117);
}
select{   
    appearance: none;
    outline: 0;
    width: 100%;
    height: 35px;
    background-color: white;
    padding-left:10px ;
    border-radius: 7px;
}
option:focus{
    background-color: darkcyan;
    color: white;
}
span{
    margin-left: 10px;
}
#radio{
    font-weight: 100;
    margin-left: 10px;
}
#dispreg{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 125px;
    height: 40px;
    color: white;
    border: none;
    border-radius:10px ;
    background-color: blueviolet;
}
#dispreg:hover{
    background-color: rgb(96, 32, 156);
}
#resgistration{
    display: none;
    padding-top: 15px;
}
#submit{
    float: right;
    margin-top: 30px;
    width: 125px;
    height: 40px;
    padding: 7px;
    border: none;
    border-radius: 7px;
    background: rgb(115, 2, 143);
    /* background:linear-gradient(135deg,rgb(62, 4, 116),rgb(62, 4, 116),rgb(128, 59, 2),rgb(133, 85, 179),rgb(62, 4, 116)); */
    color: white;
    cursor: pointer;
    transition: .2s;
}
#submit:hover{
    background: rgb(85, 1, 105);
    /* background:  linear-gradient(135deg,rgb(133, 85, 179),rgb(62, 4, 116),rgb(128, 59, 2),rgb(62, 4, 116),rgb(62, 4, 116)); */
}

#memberid{
    display: none;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
  }
  #submit_image{
    width: 150px;
    height: 40px;
    background-color: rgb(114, 5, 141);
    color: white;
    border-radius: 8px;
}
#image_preview{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 200px;
    margin-top: -15px;
    overflow: scroll;
    object-fit:scale-down;
    visibility: hidden;
}
.imagebox{
    display: none;
    position: relative;
    width: 100%;
    height: 70%;
    margin-top: 20px;
    padding:10px;
    border:1px solid rgb(155, 153, 153);
    border-radius: 20px;
    object-fit: contain;
    transition: .3s;
}
.imagebox:hover{
    background-size: 75%;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
}
#desc{
    font-size: 12px;
    color: grey;
    margin:-10px 0;
    line-height: 40px;
}
#success{
    display: none;
    margin-top: 0px;
}
@keyframes Successfully {
    0%{
        margin-top: -100px;
        opacity: 0;
    }
    100%{
        margin-top: 0px;
        opacity: 1;
    }
}
#upload_file::-webkit-file-upload-button{
    margin: 20px 0 20px 0;
    width: 140px;
    height: 35px;
    font-size: 15px;
    border: none;
    background-color: rgb(93, 3, 121);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 20px;
    height:max-content;
  }
  
  .close {
    color: rgb(136, 135, 135);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 1.5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 1.5s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 1.8s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  ::placeholder{
      font-size: 15px;
      color: #999;
  }
  #optdis{
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }
#ok{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 75px;
    height: 37px;
    background-color: rgb(4, 87, 32);
    color: white;
    border: none;
    border-radius: 5px;
}
#whatsapp{
    height: max-content;
    border-radius: 100px;
    color: green;
    padding: 5px 10px;
    border: 1px solid green;    
}
#whatsapp:hover{
    background-color: #d2f8b4;
}
#what{
    color: green;
    margin-left: 10px;
}
#what:hover{
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .modal-content{
        height: 350px;
        width: 90%;
        padding: 20px;
    }
    #ok{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    form{
        padding: 10px;
    }
  }
  @media only screen and (min-width: 1000px) {
      .modal-content{
          margin-top: 5%;
      }
  }
  
